%h3= t("actions.named.management", :model => t("activerecord.models.slide"))
%ul
  %li= link_to t("actions.named.all", :model => t("activerecord.models.slide")), admin_slides_path
  %li= link_to t("actions.named.new", :model => t("activerecord.models.slide")), new_admin_slide_path
