.column.grid_12
  .banner
    = image_tag("slider-images/toystory.jpg")
.column.grid_12
  = render "shared/breadcrumbs"
.column.grid_8
  %article
    %h2= @article.title
    .article.first_letter_big
      .content
        %p= raw @article.content
.column.grid_4
  #sidebar.border
    %h3 装订机使用说明
    .article
      .content
        %p 友比财务商城（www.51yobi.com)是友比科技全力打造的专业的财务配套用品网上商城，秉承“财务之友、比肩同行”，帮助客户成功的经营理念，以提供财务软件、配套用品及设备类产品为主体的电子商城，让客户体验一站式财务用品快捷采购。
    .splitter
    %h3 装订机使用说明
    .article
      .content
        %p 友比财务商城（www.51yobi.com)是友比科技全力打造的专业的财务配套用品网上商城，秉承“财务之友、比肩同行”，帮助客户成功的经营理念，以提供财务软件、配套用品及设备类产品为主体的电子商城，让客户体验一站式财务用品快捷采购。
    .splitter
    %h3 装订机使用说明
    .article
      .content
        %p 友比财务商城（www.51yobi.com)是友比科技全力打造的专业的财务配套用品网上商城，秉承“财务之友、比肩同行”，帮助客户成功的经营理念，以提供财务软件、配套用品及设备类产品为主体的电子商城，让客户体验一站式财务用品快捷采购。
