%p
  User: #{@user.name}
%p
  Email: #{@user.email if @user.email}
%p
  = link_to t("user.edit_password"), edit_user_registration_path
%p
  = link_to t("user.sign_out"), destroy_user_session_path, :method => :delete