.row
  .column
    %h1
      = link_to "友比财务商城", root_path
  .column
    %nav
      %ul
        = render 'shared/navigation'
  .column.pull-right
    %form.search_box
      %input{:type => "text", :value => "搜索产品...", :onfocus => "if (this.value == '搜索产品...') {this.value = '';}", :onblur => "if (this.value == '') {this.value = '搜索产品...';}"}