#slides
  .slides_container
    - @slides.each do |slide|
      .slide
        = link_to image_tag(slide.display_image, :alt => slide.title), slide.url, :title => slide.title
        .caption
          %p= slide.caption