#slides
  .slides_container
    .slide
      = link_to image_tag("slider-images/toystory.jpg", :alt => "up.jpg"), "51yobi.com", :title => "link title"
      .caption
        %p 终于，可以享受自动化流水装订的乐趣了！
    .slide
      = link_to image_tag("slider-images/up.jpg", :alt => "up.jpg"), "51yobi.com", :title => "link title"
      .caption
        %p 终于，可以享受自动化流水装订的乐趣了！
    .slide
      = link_to image_tag("slider-images/walle.jpg", :alt => "up.jpg"), "51yobi.com", :title => "link title"
      .caption
        %p 终于，可以享受自动化流水装订的乐趣了！
    .slide
      = link_to image_tag("slider-images/nemo.jpg", :alt => "up.jpg"), "51yobi.com", :title => "link title"
      .caption
        %p 终于，可以享受自动化流水装订的乐趣了！
