.column.grid_12
  .banner
    = image_tag("slider-images/toystory.jpg")
.column.grid_12
  = render "shared/breadcrumbs"
.column.grid_8
  %article
    %h2 装订机使用说明装订机使用说明装订机使用说明装订机使用
    .article.first_letter_big
      .content
        %p 友比财务商城（www.51yobi.com)是友比科技全力打造的专业的财务配套用品网上商城，秉承“财务之友、比肩同行”，帮助客户成功的经营理念，以提供财务软件、配套用品及设备类产品为主体的电子商城，让客户体验一站式财务用品快捷采购。
        %p 公司拥有完善的销售网络、物流配送及服务体系，创造性实现集信息流、物流、资金流于一体的综合电子商务（B2C）运营平台。为客户提供财务一体化解决方案，满足财务电算化日常办公所需，实现企业规范、专业的信息化管理。
        %p 主营产品包括：财务软件、会计套打账册（凭证、总账、明细账...）、配套装订用品（热熔装订和热铆装订）、业务表单（寻报价单、送收货单、收付款单…）、综合表单（工资单、固定资产卡片、出入库单…）、打印软件（帐册套打软件、支票打印…）多个系列。产品广泛支持针式打印机、激光打印机、喷墨打印机等多种打印设备，与金蝶、用友等软件产品紧密结合，用户只需轻松选择，无需烦琐设置便能套打出美观、专业的各类表单。同时，可根据客户的需要进行表单定制，如调整账册格式设计，印制客户名称、LOGO等，以满足客户的个性化需求。
        %p 公司致力于组建一支热爱创新和充满活力的年轻团队，相信通过我们不懈的努力和追求，能为客户提供最完善、最专业的服务，相信友比财务商城将成为您的“财务之友、比肩同行”的最佳选择。
        %p 因公司快速拓展，诚邀行业精英，将为有能力的你提供具有竞争力的待遇及保险福利，期待拥有同样梦想的友人加盟！
        %p 敬请登陆公司网址： http://www.51yobi.com
.column.grid_4
  #sidebar.border
    %h3 装订机使用说明
    .article
      .content
        %p 友比财务商城（www.51yobi.com)是友比科技全力打造的专业的财务配套用品网上商城，秉承“财务之友、比肩同行”，帮助客户成功的经营理念，以提供财务软件、配套用品及设备类产品为主体的电子商城，让客户体验一站式财务用品快捷采购。
    .splitter
    %h3 装订机使用说明
    .article
      .content
        %p 友比财务商城（www.51yobi.com)是友比科技全力打造的专业的财务配套用品网上商城，秉承“财务之友、比肩同行”，帮助客户成功的经营理念，以提供财务软件、配套用品及设备类产品为主体的电子商城，让客户体验一站式财务用品快捷采购。
    .splitter
    %h3 装订机使用说明
    .article
      .content
        %p 友比财务商城（www.51yobi.com)是友比科技全力打造的专业的财务配套用品网上商城，秉承“财务之友、比肩同行”，帮助客户成功的经营理念，以提供财务软件、配套用品及设备类产品为主体的电子商城，让客户体验一站式财务用品快捷采购。
  