/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require twitter/bootstrap
 *= require jquery.lightbox-0.5
 *= require_self
*/

body {
  padding-top: 60px;
}

#categories, #categories ul {
	list-style: none;
}
	
#categories ul {
	margin-left: 15px;
}

.handle {
	font-size: 1.1em;
	font-weight: bold;
	a {
		font-size: 0.8em;
	}
}

.nested-fields {
	label {
		width: 80px;
	}
	.input {
		margin-left: 90px;
	}
}

#images {
	.btn {
		padding: 0 5px;
	}
	.image {
		width: 70px;
		text-align: center;
	  display: inline-block;
	}
}

.count {
	background: #0064CD;
	height: 20px;
}

.tag_cloud {
  .css1 { font-size: 1.0em; }
  .css2 { font-size: 1.2em; }
  .css3 { font-size: 1.4em; }
  .css4 { font-size: 1.6em; }
}

.search {
	margin: 5px;
}